<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head'); %>
</head>
<header>
    <%- include('./header'); %>
</header>
<body class="container">

<main>
    <div class="jumbotron justify-content-center">
        <h1 class="justify-content-center">All Products</h1>


        <div class="container">
            <div class="row">
        <% products.forEach(p=>{%>
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <div class="d-flex justify-content-between position-absolute w-100">
                            <div class="label-new">
            <span class="text-white bg-success small d-flex align-items-center px-2 py-1">
              <i class="fa fa-star" aria-hidden="true"></i>
              <span class="ml-1">New</span>
            </span>
                            </div>
                            <div class="label-sale">
            <span class="text-white bg-primary small d-flex align-items-center px-2 py-1">
              <i class="fa fa-tag" aria-hidden="true"></i>
              <span class="ml-1">Sale</span>
            </span>
                            </div>
                        </div>
                        <img src="<%='http://localhost:8080/'+p.image %>" class="card-img-top" alt="Product">
                        <div class="card-body px-2 pb-2 pt-1">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p class="h4 text-primary"><%= p.price %> PKR</p>
                                </div>
                                <div>
                                    <a href="#" class="text-secondary lead" data-toggle="tooltip" data-placement="left"
                                       title="Compare">
                                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <p class="text-warning d-flex align-items-center mb-2">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </p>
                            <p class="mb-0">
                                <strong>
                                    <h3 class="text-secondary"><%= p.title %></h3>
                                </strong>
                            </p>

                            <div class="d-flex mb-3 justify-content-between">
                                <div>
                                    <p class="mb-0 small"><b>Description: <%=p.description%></b> </p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="col px-0">
                                    <button class="btn btn-outline-primary btn-block">
                                        <a href="/editproduct/<%=p.id%>"> Edit </a>
                                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="col px-0">
                                    <button class="btn btn-outline-primary btn-block">
                                        <a href="/api/v1/product/deleteProduct/<%=p.id%>"> Delete </a>
                                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


        <% })%>
            </div>
        </div>
    </div>
</main>


<footer>
    <%- include('./footer'); %>
</footer>

</body>
</html>